In [1]:
import numpy as np
import pandas as pd

In [2]:
full_labels = pd.read_csv('fruits.csv')

In [3]:
full_labels.head()

,filename,width,height,class,xmin,ymin,xmax,ymax
0,0_Parade_marchingband_1_818.jpg,1024,1536,face,643,336,967,889
1,0_Parade_marchingband_1_818.jpg,1024,1536,human,27,100,1014,1527
2,0_Parade_Parade_0_246.jpg,1024,1024,face,162,552,752,932
3,0_Parade_Parade_0_246.jpg,1024,1024,human,42,70,950,1016
4,0_Parade_Parade_0_757.jpg,1024,745,face,238,52,442,362

In [4]:
grouped = full_labels.groupby('filename')

In [5]:
grouped.apply(lambda x: len(x)).value_counts()

3     895
5      31
9       6
7       5
15      2
dtype: int64

In [6]:
gb = full_labels.groupby('filename')
grouped_list = [gb.get_group(x) for x in gb.groups]
len(grouped_list)

939

Bei 'size' bitte die Größe des gewünschten Trainingsdatensatzes eingeben (typischerweise 80% der gesamten Daten)
Bei 'range' bitte die Größe des gesamten Datensatzes eintragen

In [7]:
train_index = np.random.choice(len(grouped_list), size=int(939*0.8), replace=False)
test_index = np.setdiff1d(list(range(938)), train_index)
len(train_index), len(test_index)

(751, 188)

In [8]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

len(train), len(test)

(2355, 604)

In [9]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)