In [1]:
import numpy as np
import pandas as pd

In [4]:
full_labels = pd.read_csv('dataset.csv')

In [5]:
full_labels.head()

  filename  width  height class  xmin  ymin  xmax  ymax
0    0.jpg    640     524  logo   131   364   265   521
1    1.jpg    478     640  logo   190   243   353   362
2    2.jpg    480     640  logo    55   175    94   214
3    3.jpg    640     640  logo   458   311   512   364
4    4.jpg    640     427  logo   548   133   622   198

In [6]:
grouped = full_labels.groupby('filename')

In [7]:
grouped.apply(lambda x: len(x)).value_counts()

1    20430
dtype: int64

In [8]:
gb = full_labels.groupby('filename')
grouped_list = [gb.get_group(x) for x in gb.groups]
len(grouped_list)

20430

In [10]:
train_index = np.random.choice(len(grouped_list), size=int(20430*0.8), replace=False)
test_index = np.setdiff1d(list(range(20430)), train_index)
len(train_index), len(test_index)

(16344, 4086)

In [11]:
train = pd.concat([grouped_list[i] for i in train_index])
test = pd.concat([grouped_list[i] for i in test_index])

len(train), len(test)

(16344, 4086)

In [9]:
train.to_csv('train_labels.csv', index=None)
test.to_csv('test_labels.csv', index=None)